<div style="padding: 0px 20px 20px 20px;">
    <h2 style="font-size: 22px; height: 30px; color: #434f6b; border-bottom: dashed 1px gray;">
        Product Financing Requested
    </h2>

    <div class="businessInfo">
        <h3 style="padding: 20px 0 10px 0;">
            Business Information
        </h3>

        <div style="float:left;">
            Business Name: %%GLOBAL_bus_name%%
        </div>
        <div style="float: left">
            DBA Name: %%GLOBAL_dba_name%%
        </div>
        <br />
        <div style="float:left;">
            Business Type: %%GLOBAL_bus_type%%
        </div>
        <div style="float:left;">
            Time In Business: %%GLOBAL_bus_time%% %%GLOBAL_time_in_bus%%
        </div>
        <div style="float:left;">
            Business Credit: %%GLOBAL_bus_credit%%
        </div>
        <br />
        <div style="float:left;">
            Business Address: %%GLOBAL_bus_address%%
        </div>
        <div style="float:left;">
            City: %%GLOBAL_bus_city%%
        </div>
        <div style="float:left;">
            State: %%GLOBAL_bus_state%%
        </div>
        <div style="float:left;">
            Zip: %%GLOBAL_bus_zip%%
        </div>
        <br />
        <div style="float:left;">
            Business Phone: %%GLOBAL_bus_phone%%
        </div>
        <div style="float:left;">
            Fax #: %%GLOBAL_bus_fax%%
        </div>
        <br />
        <div style="float:left;">
            Federal Tax Id #: %%GLOBAL_tax_id%%
        </div>
        <div style="float:left;">
            Website: %%GLOBAL_website%%
        </div>
        <div style="float:left;">
            Comments: %%GLOBAL_comments%%
        </div>
    </div>

    <div id="equipmentInfo">
        <h3 style="padding: 20px 0 10px 0;">
            Equipment Information
        </h3>

        <div style="float:left;">
            SKU: %%GLOBAL_prodcode%%
        </div>

        <div style="float:left;">
            Equipment Description: %%GLOBAL_productName%%
        </div>

        <div style="float:left;">
            Equipment Cost: %%GLOBAL_equipCost%%
        </div>
        <div style="float:left;">
            Desired Term: %%GLOBAL_desired_term%%
        </div>
        <div style="float:left;">
            Ship to Address: %%GLOBAL_ship_to%%
        </div>

        <div class="otherShipInfo">
            <h4 style="padding: 20px 0 10px 0;">
                Other Shipping Information
            </h4>

            <div style="float:left;">
                Ship to Address: %%GLOBAL_ship_to_address_other%%
            </div>
            <div style="float:left;">
                City: %%GLOBAL_ship_to_city_other%%
            </div>
            <div style="float:left;">
                State: %%GLOBAL_bus_ship_to_state_other%%
            </div>
            <div style="float:left;">
                Zip: %%GLOBAL_ship_to_zip_other%%
            </div>
        </div>

    </div>

    <div id="equipmentInfo">
        <h3 style="padding: 20px 0 10px 0;">
            What Is Your Machine’s Make and Model
        </h3>

        <div style="float:left;">
            Make: %%GLOBAL_make%%
        </div>
        <div style="float:left;">
            Model: %%GLOBAL_model%%
        </div>
    </div>

    <div id="userInfo">
        <h3 style="padding: 20px 0 10px 0;">
            Owner / Principal Lessee Information
        </h3>

        <div style="float:left;">
            First Name: %%GLOBAL_first_name%%
        </div>
        <div style="float:left;">
            Last Name: %%GLOBAL_last_name%%
        </div>
        <div style="float:left;">
            Title: %%GLOBAL_title%%
        </div>
        <div style="float:left;">
            Ownership %: %%GLOBAL_ownership%%
        </div>
        <br />
        <div style="float:left;">
            Address: %%GLOBAL_address%%
        </div>
        <div style="float:left;">
            City: %%GLOBAL_city%%
        </div>
        <div style="float:left;">
            State: %%GLOBAL_state%%
        </div>
        <div style="float:left;">
            Zip: %%GLOBAL_zip%%
        </div>
        <br />
        <div style="float:left;">
            Home Phone: %%GLOBAL_home_phone%%
        </div>
        <div style="float:left;">
            Mobile Phone: %%GLOBAL_mobile_phone%%
        </div>
        <div style="float:left;">
            Email: %%GLOBAL_email%%
        </div>
        <div style="float:left;">
            Add a 2nd Owner or Principal to this Application?: %%GLOBAL_second_owner%%
        </div>

        <div class="otherShipInfo">
            <h4 style="padding: 20px 0 10px 0;">
                Second Owner
            </h4>

            <div style="float:left;">
                First Name: %%GLOBAL_first_name_second_owner%%
            </div>
            <div style="float:left;">
                Last Name: %%GLOBAL_last_name_second_owner%%
            </div>
            <div style="float:left;">
                Title: %%GLOBAL_title_second_owner%%
            </div>
            <div style="float:left;">
                Ownership %: %%GLOBAL_ownership_second_owner%%
            </div>
            <br />
            <div style="float:left;">
                Address: %%GLOBAL_address_second_owner%%
            </div>
            <div style="float:left;">
                City: %%GLOBAL_city_second_owner%%
            </div>
            <div style="float:left;">
                State: %%GLOBAL_state_second_owner%%
            </div>
            <div style="float:left;">
                Zip: %%GLOBAL_zip_second_owner%%
            </div>
            <br />
            <div style="float:left;">
                Home Phone: %%GLOBAL_home_phone_second_owner%%
            </div>
            <div style="float:left;">
                Mobile Phone: %%GLOBAL_mobile_phone_second_owner%%
            </div>
            <div style="float:left;">
                Email: %%GLOBAL_email_second_owner%%
            </div>
        </div>

    </div>
</div>