/** IE 67 Specific Fixes **/

* html .Content, * html .Left, * html .Right {
	height: 600px; /* Compensates for no min-height */
}

* html #Menu li a {
	padding: 9px 0 8px 12px;
}

* html .SelectGiftWrapMultiple {
	height: 400px;
}

/** General IE Fixes **/
.Content .FeedLink {
	margin: 0 4px 0 0;
}
#SearchForm .Button {
	vertical-align: bottom;
}
select, input {
	font-size: 0.95em;
}