<div class="" id="ProductDetails">
    <div class="BlockContent" style="float: left;padding-right: 20px">
        <h1 style='text-align:left'>
            Financing Application for %%GLOBAL_productName%%
        </h1>
        <br />

        <div class="productInfo">
            <div class="sku">
                <b>SKU</b> - %%GLOBAL_prodcode%%
            </div>
        </div>

        <form id="financeForm" name="financeForm" action="%%GLOBAL_AppPath%%/finance.php?action=submit" method="post">
            <div id="businessInfo">
                <h3 style="padding: 20px 0 10px 0;">
                    Business Information
                </h3>

                <div class="label">
                    Business Name
                </div>
                <div class="prevInput">
                    <input placeholder="Business Name" id="bus_name" class="required Textbox Field200" type="text" value="%%GLOBAL_bus_name%%" name="bus_name" />
                </div>
                <br /><br />
                <div class="label">
                    DBA Name
                </div>
                <div class="prevInput">
                    <input placeholder="DBA Name" id="dba_name" class="required Textbox Field200" type="text" value="%%GLOBAL_dba_name%%" name="dba_name" />
                </div>
                <br /><br />
                <div class="label">
                    Business Type
                </div>
                <div class="prevInput">
                    <select id="bus_type" name="bus_type">
                        <option value="">Business Type</option>
                        <option value="Sole Proprietorship">Sole Proprietorship</option>
                        <option value="Partnership">Partnership</option>
                        <option value="LLC">LLC</option>
                        <option value="Corporation">Corporation</option>
                        <option value="Non-Profit">Non-Profit</option>
                        <option value="Municipal">Municipal</option>
                        <option value="Federal">Federal</option>
                    </select>
                </div>
                <br /><br />
                <div class="label">
                    Time In Business
                </div>
                <div class="prevInput">
                    <input placeholder="Time In Business" id="bus_time" class="required Textbox Field200" type="text" value="%%GLOBAL_bus_time%%" name="bus_time" />
                </div>
                <br /><br />
                <div class="label">
                    &nbsp;
                </div>
                <div class="prevInput">
                    <input type="radio" checked="checked" value="Years" name="time_in_bus" />
                    Years
                    <input type="radio" value="Months" name="time_in_bus" />
                    Months
                </div>
                <br /><br />
                <div class="label">
                    Business Credit
                </div>
                <div class="prevInput">
                    <select style="margin-left: 0px;" id="bus_credit" name="bus_credit">
                        <option value="">Business Credit</option>
                        <option value="Excellent">Excellent </option>
                        <option value="Fair">Fair </option>
                        <option value="Poor">Poor </option>
                        <option value="None">No Biz Credit Yet </option>
                    </select>
                </div>
                <br /><br />
                <div class="label">
                    Business Address
                </div>
                <div class="prevInput">
                    <input placeholder="Business Address" id="bus_address" class="required Textbox Field200" type="text" value="%%GLOBAL_bus_address%%" name="bus_address" />
                </div>
                <br /><br />
                <div class="label">
                    City
                </div>
                <div class="prevInput">
                    <input placeholder="City" id="bus_city" class="required Textbox Field200" type="text" value="%%GLOBAL_bus_city%%" name="bus_city" />
                </div>
                <br /><br />
                <div class="label">
                    State
                </div>
                <div class="prevInput">
                    <select id="bus_state" name="bus_state">
                        %%GLOBAL_stateOptionList%%
                    </select>
                </div>
                <br /><br />
                <div class="label">
                    Zip
                </div>
                <div class="prevInput">
                    <input placeholder="Zip Code" id="bus_zip" class="required Textbox Field200" type="text" value="%%GLOBAL_bus_zip%%" name="bus_zip" />
                </div>
                <br /><br />
                <div class="label">
                    Business Phone
                </div>
                <div class="prevInput">
                    <input placeholder="Business Phone" id="bus_phone" class="required Textbox Field200" type="text" value="%%GLOBAL_bus_phone%%" name="bus_phone" />
                </div>
                <br /><br />
                <div class="label">
                    Fax #
                </div>
                <div class="prevInput">
                    <input placeholder="Fax #" id="bus_fax" class="required Textbox Field200" type="text" value="%%GLOBAL_bus_fax%%" name="bus_fax" />
                </div>
                <br /><br />
                <div class="label">
                    Federal Tax Id #
                </div>
                <div class="prevInput">
                    <input placeholder="Federal Tax Id #" id="tax_id" class="required Textbox Field200" type="text" value="%%GLOBAL_tax_id%%" name="tax_id" />
                </div>
                <br /><br />
                <div class="label">
                    Website
                </div>
                <div class="prevInput">
                    <input placeholder="Website" id="website" class="required Textbox Field200" type="text" value="%%GLOBAL_website%%" name="website" />
                </div>
                <br /><br />
                <div class="label">
                    Comments
                </div>
                <div class="prevInput">
                    <textarea placeholder="Comments" rows="8" cols="100" id="comments" class="Textbox Field200" name="comments" >%%GLOBAL_comments%%</textarea>
                </div>
            </div>

            <div id="equipmentInfo">
                <h3 style="padding: 20px 0 10px 0;">
                    Equipment Information
                </h3>

                <div class="label">
                    Equipment Cost $
                </div>
                <div class="prevInput">
                    <input placeholder="Equipment Cost $" id="equip_cost" class="required Textbox Field200" type="text" value="%%GLOBAL_prodprice%%" name="equip_cost" />
                </div>
                <br /><br />
                <div class="label">
                    &nbsp;
                </div>
                <div class="prevInput">
                    <input type="radio" value="New" name="equip_type" />
                    New
                    <input type="radio" value="Used" name="equip_type" />
                    Used
                </div>
                <br /><br />
                <div class="label">
                    Desired Term
                </div>
                <div class="prevInput">
                    <select id="desired_term" name="desired_term">
                        <option selected="selected" value="60">60 months </option>
                        <option value="48">48 months </option>
                        <option value="36">36 months </option>
                        <option value="24">24 months </option>
                        <option value="12">12 months </option>
                    </select>
                </div>
                <br /><br />

                <span class="shipToLabel">
                    <div class="label">
                        Ship to Address
                    </div>
                </span>
                <div class="prevInput">
                    <input type="radio" class="shipTo" checked="checked" id="same" name="ship_to" value="Same as Business Address">
                    Same as Business Address
                </div>
                <br /><br />
                <div class="label">
                    (Equipment Location)
                </div>
                <div class="prevInput">
                    <input type="radio" class="shipTo" id="other" name="ship_to" value="Other Address">
                    Other Address
                </div>
                <br /><br />

                <div class="shipToOther">
                    <div class="label">
                        Ship to Address
                    </div>
                    <div class="prevInput">
                        <input placeholder="Ship to Address" id="ship_to_address_other" class="required Textbox Field200" type="text" value="%%GLOBAL_ship_to_address_other%%" name="ship_to_address_other" />
                    </div>
                    <br /><br />
                    <div class="label">
                        City
                    </div>
                    <div class="prevInput">
                        <input placeholder="City" id="ship_to_city_other" class="required Textbox Field200" type="text" value="%%GLOBAL_ship_to_city_other%%" name="ship_to_city_other" />
                    </div>
                    <br /><br />
                    <div class="label">
                        State
                    </div>
                    <div class="prevInput">
                        <select id="ship_to_state_other" name="ship_to_state_other">
                            %%GLOBAL_stateOptionList%%
                        </select>
                    </div>
                    <br /><br />
                    <div class="label">
                        Zip Code
                    </div>
                    <div class="prevInput">
                        <input placeholder="Zip" id="ship_to_zip_other" class="required Textbox Field200" type="text" value="%%GLOBAL_ship_to_zip_other%%" name="ship_to_zip_other" />
                    </div>


                </div>
                <div class="label">
                    Equipment Description
                </div>
                <br /><br />
                <textarea placeholder="Equipment Description" rows="4" cols="42" id="equip_desc" class="Textbox" name="equip_desc" >%%GLOBAL_equip_desc%%</textarea>
                <br /><br />

                <div id="userInfo">
                    <h3 style="padding: 20px 0 10px 0;">
                        Owner / Principal Lessee Information
                    </h3>

                    <div class="label">
                        First Name
                    </div>
                    <div class="prevInput">
                        <input placeholder="First Name" id="first_name" class="required Textbox Field200" type="text" value="%%GLOBAL_first_name%%" name="first_name" />
                    </div>
                    <br /><br />
                    <div class="label">
                        Last Name
                    </div>
                    <div class="prevInput">
                        <input placeholder="Last Name" id="last_name" class="required Textbox Field200" type="text" value="%%GLOBAL_last_name%%" name="last_name" />
                    </div>
                    <br /><br />
                    <div class="label">
                        Title
                    </div>
                    <div class="prevInput">
                        <input placeholder="Title" id="title" class="required Textbox Field200" type="text" value="%%GLOBAL_title%%" name="title" />
                    </div>
                    <br /><br />
                    <div class="label">
                        Ownership %
                    </div>
                    <div class="prevInput">
                        <select id="ownership" name="ownership">';
                            <option value=""></option>
                            %%GLOBAL_ownershipSelect%%
                        </select>
                    </div>
                    <br /><br />
                    <div class="label">
                        Social Security #
                    </div>
                    <div class="prevInput">
                        <input placeholder="Social Security #" id="ssn" class="required Textbox Field200" type="text" value="%%GLOBAL_ssn%%" name="ssn" />
                    </div>
                    <br /><br />
                    <div class="label">
                        Address
                    </div>
                    <div class="prevInput">
                        <input placeholder="Address" id="address" class="required Textbox Field200" type="text" value="%%GLOBAL_address%%" name="address" />
                    </div>
                    <br /><br />
                    <div class="label">
                        City
                    </div>
                    <div class="prevInput">
                        <input placeholder="City" id="city" class="required Textbox Field200" type="text" value="%%GLOBAL_city%%" name="city" />
                    </div>
                    <br /><br />
                    <div class="label">
                        State
                    </div>
                    <div class="prevInput">
                        <select id="state" name="state">
                            %%GLOBAL_stateOptionList%%
                        </select>
                    </div>
                    <br /><br />
                    <div class="label">
                        Zip Code
                    </div>
                    <div class="prevInput">
                        <input placeholder="Zip Code" id="zip" class="required Textbox Field200" type="text" value="%%GLOBAL_zip%%" name="zip" />
                    </div>
                    <br /><br />
                    <div class="label">
                        Home Phone
                    </div>
                    <div class="prevInput">
                        <input placeholder="Home Phone" id="home_phone" class="required Textbox Field200" type="text" value="%%GLOBAL_home_phone%%" name="home_phone" />
                    </div>
                    <br /><br />
                    <div class="label">
                        Mobile Phone
                    </div>
                    <div class="prevInput">
                        <input placeholder="Mobile Phone" id="mobile_phone" class="required Textbox Field200" type="text" value="%%GLOBAL_mobile_phone%%" name="mobile_phone" />
                    </div>
                    <br /><br />
                    <div class="label">
                        Email
                    </div>
                    <div class="prevInput">
                        <input placeholder="Email" id="email" class="required Textbox Field200" type="text" value="%%GLOBAL_email%%" name="email" />
                    </div>
                    <br /><br />
                    <div>
                        Add a 2nd Owner or Principal to this Application?
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <input type="radio" value="Yes" class="secOwner" id="yes" name="second_owner" />
                        Yes
                        <input type="radio" checked="checked" value="No" class="secOwner" id="no" name="second_owner" />
                        No
                    </div>

                    <div class="secondOwner">
                        <div class="label">
                            First Name
                        </div>
                        <div class="prevInput">
                            <input placeholder="First Name" id="first_name_second_owner" class="required Textbox Field200" type="text" value="%%GLOBAL_first_name_second_owner%%" name="first_name_second_owner" />
                        </div>
                        <br /><br />
                        <div class="label">
                            Last Name
                        </div>
                        <div class="prevInput">
                            <input placeholder="Last Name" id="last_name_second_owner" class="required Textbox Field200" type="text" value="%%GLOBAL_last_name_second_owner%%" name="last_name_second_owner" />
                        </div>
                        <br /><br />
                        <div class="label">
                            Title
                        </div>
                        <div class="prevInput">
                            <input placeholder="Title" id="title_second_owner" class="required Textbox Field200" type="text" value="%%GLOBAL_title_second_owner%%" name="title_second_owner" />
                        </div>
                        <br /><br />
                        <div class="label">
                            Ownership %
                        </div>
                        <div class="prevInput">
                            <select id="ownership_second_owner" name="ownership_second_owner">';
                                <option value=""></option>
                                %%GLOBAL_ownershipSelect%%
                            </select>
                        </div>
                        <br /><br />
                        <div class="label">
                            Social Security #
                        </div>
                        <div class="prevInput">
                            <input placeholder="Social Security #" id="ssn_second_owner" class="required Textbox Field200" type="text" value="%%GLOBAL_ssn_second_owner%%" name="ssn_second_owner" />
                        </div>
                        <br /><br />
                        <div class="label">
                            Address
                        </div>
                        <div class="prevInput">
                            <input placeholder="Address" id="address_second_owner" class="required Textbox Field200" type="text" value="%%GLOBAL_address_second_owner%%" name="address_second_owner" />
                        </div>
                        <br /><br />
                        <div class="label">
                            City
                        </div>
                        <div class="prevInput">
                            <input placeholder="City" id="city_second_owner" class="required Textbox Field200" type="text" value="%%GLOBAL_city_second_owner%%" name="city_second_owner" />
                        </div>
                        <br /><br />
                        <div class="label">
                            State
                        </div>
                        <div class="prevInput">
                            <select id="state_second_owner" name="state_second_owner">
                                %%GLOBAL_stateOptionList%%
                            </select>
                        </div>
                        <br /><br />
                        <div class="label">
                            Zip Code
                        </div>
                        <div class="prevInput">
                            <input placeholder="Zip Code" id="zip_second_owner" class="required Textbox Field200" type="text" value="%%GLOBAL_zip_second_owner%%" name="zip_second_owner" />
                        </div>
                        <br /><br />
                        <div class="label">
                            Home Phone
                        </div>
                        <div class="prevInput">
                            <input placeholder="Home Phone" id="home_phone_second_owner" class="required Textbox Field200" type="text" value="%%GLOBAL_home_phone_second_owner%%" name="home_phone_second_owner" />
                        </div>
                        <br /><br />
                        <div class="label">
                            Mobile Phone
                        </div>
                        <div class="prevInput">
                            <input placeholder="Mobile Phone" id="mobile_phone_second_owner" class="required Textbox Field200" type="text" value="%%GLOBAL_mobile_phone_second_owner%%" name="mobile_phone_second_owner" />
                        </div>
                        <br /><br />
                        <div class="label">
                            Email
                        </div>
                        <div class="prevInput">
                            <input placeholder="Email" id="email_second_owner" class="required Textbox Field200" type="text" value="%%GLOBAL_email_second_owner%%" name="email_second_owner" />
                        </div>
                    </div>
                </div>

                <div class="terms">
                    <input type="checkbox" id="accept_terms" name="accept_terms" value="Yes" />
                    Click to accept <span class="underline" onclick='hideShowTerms(1)'>Terms &amp; Conditions</span> of this application.
                </div>
                <div style="padding-top: 20px">
                    <input type="button" id="submitFinancing" name="submitFinancing" value="Submit Application"/>
                </div>

                <input type="hidden" name="productId" id="productId" value="%%GLOBAL_productId%%" />
                <input type="hidden" name="prodcode" id="prodcode" value="%%GLOBAL_prodcode%%" />
                <input type="hidden" name="productName" id="productName" value="%%GLOBAL_productName%%" />
            </div>

        </form>

    </div>
</div>
<div id='termsWrapper'>
    <div id='termsMessageBox'>
        <h2 style="padding: 15px 0 10px 20px">
            Terms and Conditions Statement
        </h2>
        <div class='termsMessage'>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quam diam, posuere hendrerit sodales
                luctus, viverra ut tortor. Mauris scelerisque erat at libero commodo porttitor. Donec sodales posuere
                ullamcorper. Praesent fermentum, risus eu vestibulum accumsan, sapien nisl dapibus libero, sit amet lacinia
                risus mi viverra libero. Aliquam eros quam, lacinia non rutrum eu, interdum id mi. Vestibulum elit diam,
                interdum non ligula vel, posuere consectetur quam. Praesent dignissim sed quam vel faucibus. Vestibulum
                vitae consequat ipsum, in volutpat leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                per inceptos himenaeos.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quam diam, posuere hendrerit sodales
                luctus, viverra ut tortor. Mauris scelerisque erat at libero commodo porttitor. Donec sodales posuere
                ullamcorper. Praesent fermentum, risus eu vestibulum accumsan, sapien nisl dapibus libero, sit amet lacinia
                risus mi viverra libero. Aliquam eros quam, lacinia non rutrum eu, interdum id mi. Vestibulum elit diam,
                interdum non ligula vel, posuere consectetur quam. Praesent dignissim sed quam vel faucibus. Vestibulum
                vitae consequat ipsum, in volutpat leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                per inceptos himenaeos.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quam diam, posuere hendrerit sodales
                luctus, viverra ut tortor. Mauris scelerisque erat at libero commodo porttitor. Donec sodales posuere
                ullamcorper. Praesent fermentum, risus eu vestibulum accumsan, sapien nisl dapibus libero, sit amet lacinia
                risus mi viverra libero. Aliquam eros quam, lacinia non rutrum eu, interdum id mi. Vestibulum elit diam,
                interdum non ligula vel, posuere consectetur quam. Praesent dignissim sed quam vel faucibus. Vestibulum
                vitae consequat ipsum, in volutpat leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                per inceptos himenaeos.
            </p>
        </div>
        <p class='closeMessage'><a onclick='hideShowTerms(0)'>Close</a>
    </div>
</div>