        
        <div id="Footer">
           <div id="FooterContainer">   
    <div id="footercol-1">
      <h3>My Account</h3>
       <div class="FooterLinks">
            <p><a href="%%GLOBAL_ShopPath%%/account.php">Sign In</a></p>
            <p><a href="%%GLOBAL_ShopPath%%/orderstatus.php">Order Status</a></p>
            <p><a href="%%GLOBAL_ShopPath%%/account.php">Account Details</a></p>
            <p><a href="%%GLOBAL_ShopPath%%/account.php?action=recent_items">Your Recently Viewed </a></p>
            <p>
            %%GLOBAL_NewsletterBoxControlScript%%
<hr>
                <div class="Block NewsletterSubscription Moveable Panel" id="SideNewsletterBox">
                    <em>Newsletter Signup</em>

                    <div class="BlockContent">
                        <form action="%%GLOBAL_ShopPath%%/subscribe.php" method="post" id="subscribe_form" name="subscribe_form">
                            <input type="hidden" name="action" value="subscribe" />
                            <input type="hidden" class="Textbox" id="nl_first_name" name="nl_first_name" value="Newsletter Signup" />
                            <label for="nl_email">%%LNG_YourEmailAddress%%:</label>
                            <input type="text" class="Textbox" id="nl_email" name="nl_email" /><br />
                            %%GLOBAL_NewsletterButtonOptimizerScriptTag%%
                                <input type="image" src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/NewsletterSubscribe.gif" value="%%LNG_Subscribe%%" class="Button" />
                            %%GLOBAL_NewsletterBoxOptimizerNoScriptTag%%
                        </form>
                    </div>
                </div>
                %%Panel.NewsletterJavaScript%%
           
           
           </p>
      </div>
       
   </div>
    <div id="footercol-2">
         <h3>Our Categories</h3>
      <div class="FooterLinks">
            <p><a href="/categories/Skid-Steer-Attachments/">Skid Steer Attachments</a></p>
            <p><a href="/categories/Tractor-Attachments/">Tractor Attachments</a></p>
            <p><a href="/categories/Mini-Skid-Steer-Attachments/">Mini Skid Steer Attachments</a></p>
            <p><a href="/categories/Mini-Excavator-Attachments/">Mini Excavator Attachments</a></p>
            <p><a href="/categories/Pre%252dOwned-Attachments/">Pre-Owned Attachments</a></p>
            <p><a href="/categories/Parts-%26-Accessories/">Parts & Accessories</a></p>
      </div>
    </div>
    <div id="footercol-3">
           <h3>Customer Service</h3>
            <p><a href="/pages/client-relations/"><img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/phone-icon.png" width="15px" align="left"> 1.888.888.1085</a></p>
         <p><a href="/pages/client-relations/">Client Relations</a></p>
                           <p><a href="/pages/Spartan-Visa®-Card.html">Spartan Visa&reg; Card</a></p>
            <p><a href="/pages/Financing.html">Financing</a></p>
        <p><a href="/pages/Online-Help-Center/">Online Help Center</a></p>
            <p><a href="/pages/Contact-Customer-Care/">Contact Customer Care</a></p>
            <p><a href="/pages/Standard-Return-Policy/">Standard Return Policy</a></p>

            <p><a href="/pages/faq's/">FAQ's</a></p>
            <p><a href="/sitemap/">Site Map</a></p>
    </div>
    <div id="footercol-4">
           <h3>Company</h3>
            <p><a href="/pages/about-us/">About Spartan</a></p>
            <p><a href="/pages/contact-us/">Contact Us</a></p>
           <p><a href="/pages/Recent-News.html">News</a></p>
            <p><a href="/pages/Shipping-Information/">Shipping Information</a></p>
            <p><a href="/pages/warranty">Warranty Information</a></p>
            <p><a href="/pages/payment-terms/">Payment Terms</a></p>
            <p><a href="/pages/privacy">Private Policy</a></p>
            <p><a href="/pages/terms-and-legal-notice/">Terms and Legal Notice</a></p>
    </div>
    <div id="footercol-5">
        <h3>Stay Connected</h3>
           <div class="FooterLinks">
               <ul>
                   <li><a href="http://www.facebook.com/pages/Spartan-Equipment/367304110018979?fref=ts" target="_blank"><div class="facebook"></div><p>Like Us</p></a></li>
                <li><a href="https://twitter.com/spartanequip" target="_blank"><div class="twitter"></div><p>Follow Us</p></a></li>
                <li><a href="http://www.youtube.com/spartanequipment" target="_blank"><div class="youtube"></div><p>Subscribe</p></a></li>
                <li><a href="%%GLOBAL_ShopPath%%/rss.php?type=rss" target="_blank"><div class="rssfeed"></div><p>RSS</p></a></li>
               </ul>
          </div>
     </div>
    
</div>
<div class="bottomFooter">
<span class="botIcons"><img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/payicons.png"></span>
<span  class="copyright">Copyright %%GLOBAL_Year%% %%GLOBAL_StoreName%%.</span >
</div>   
        </div>
      
        </div>

        %%GLOBAL_DesignModeHTML%%
        %%GLOBAL_QueryList%%
        %%GLOBAL_DesignModeScriptTag%%
        %%GLOBAL_LiveChatFooterCode%%

        %%GLOBAL_OptimizerTrackingScript%%
        %%GLOBAL_OptimizerConversionScript%%
        %%GLOBAL_OptimizerSetCookieScript%%

        %%GLOBAL_FooterScripts%%
        %%SNIPPET_FastCartThickBoxJs%%