<div class="midsection">
     <ul id="mycarousel" class="jcarousel-skin-tango">
        <li> <a href='/pages/money-back-guarantee/'><img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/money-back-black-flat.png"></a></li>
                 <li> <a href='/pages/Spartan-Visa®-Card.html'><img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/credit-cards.png"></a></li>
        <li><a href='/pages/FREE-shipping/'><img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/free-shipping-black.png"></a></li>
                    <li> <a href='/pages/Spartan-Visa®-Card.html'><img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/credit-cards.png"></a></li>
         <li><a href='/categories/Parts-%26-Accessories/'><img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/replacement-flat.png"></a></li>

        <li><a href='/pages/FREE-shipping/'><img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/free-shipping-black.png"></a></li>

   </ul>
</div>