<head>
    %%GLOBAL_OptimizerControlScript%%

    <title>%%Page.WindowTitle%%</title>

    <meta http-equiv="Content-Type" content="text/html; charset=%%GLOBAL_CharacterSet%%" />
    <meta name="description" content="%%Page.MetaDescription%%" />
    <meta name="keywords" content="%%Page.MetaKeywords%%" />
    %%GLOBAL_AdditionalMetaTags%%
    %%Page.CanonicalLink%%
    %%Page.Robots%%
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="shortcut icon" href="%%GLOBAL_Favicon%%" />
    <meta name="google-site-verification" content="D98Kvjg7ehFiFjpLNJFWhiwirCg4adhNNxGL3G_ZqRk" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Trajan+Pro">
    %%GLOBAL_Stylesheets%%

    <!-- Tell the browsers about our RSS feeds -->
    %%GLOBAL_HeadRSSLinks%%

    <!-- Include visitor tracking code (if any) -->
    %%GLOBAL_TrackingCode%%

    %%GLOBAL_DesignModeStyleSheet%%

    %%GLOBAL_HeaderImageStyle%%

    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/jquery.js?%%GLOBAL_JSCacheToken%%"></script>
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/menudrop.js?%%GLOBAL_JSCacheToken%%"></script>
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/common.js?%%GLOBAL_JSCacheToken%%"></script>
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/iselector.js?%%GLOBAL_JSCacheToken%%"></script>
    
    <link rel="stylesheet" type="text/css" href="%%GLOBAL_ShopPath%%/css/jkmegamenu.css" />
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/jkmegamenu.js"></script> 
    
    <!-- BN JS SCROLLER -->
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/jquery.jcarousel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="%%GLOBAL_ShopPath%%/skins/tango/skin.css" />
    <script type="text/javascript">

function mycarousel_initCallback(carousel)
{
    // Disable autoscrolling if the user clicks the prev or next button.
    carousel.buttonNext.bind('click', function() {
        carousel.startAuto(0);
    });

    carousel.buttonPrev.bind('click', function() {
        carousel.startAuto(0);
    });

    // Pause autoscrolling if the user moves with the cursor over the clip.
    carousel.clip.hover(function() {
        carousel.stopAuto();
    }, function() {
        carousel.startAuto();
    });
};

jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        auto: 5,
        wrap: 'last',
        initCallback: mycarousel_initCallback
    });
});

</script>
    <!-- BN JS SCROLLER -->
    
    
    <script src="%%GLOBAL_ShopPath%%/templates/Handbags/site.js" type="text/javascript"></script>
   
    <script type="text/javascript">
    //<![CDATA[
    config.ShopPath = '%%GLOBAL_ShopPath%%';
    config.AppPath = '%%GLOBAL_AppPath%%';
    var ThumbImageWidth = %%GLOBAL_ProductThumbImageWidth%%;
    var ThumbImageHeight = %%GLOBAL_ProductThumbImageHeight%%;
    //]]>
    </script>
    %%GLOBAL_AdditionalScriptTags%%
    %%GLOBAL_QuickSearchJS%%
    %%GLOBAL_RTLStyles%%
             
<script type='text/javascript'>
 var _springMetq = _springMetq || [];
 _springMetq.push(['id', '60c8855029']);
 (
  function(){
   var s = document.createElement('script');
   s.type = 'text/javascript';
   s.async = true;
   s.src = ('https:' == document.location.protocol ? 'https://d3rmnwi2tssrfx.cloudfront.net/a.js' : 'http://static.springmetrics.com/a.js');
   var x = document.getElementsByTagName('script')[0];
   x.parentNode.insertBefore(s, x);
  }
 )();
</script>
</head>

