<style>
    @font-face {
        font-family: lato;
        src: url("%%GLOBAL_AppPath%%/fonts/lato/Lato-Black.ttf");
        font-weight:400;
    }
    .addthis_button{
    float: right !important;
    margin-right: 60px;
    margin-top: 10px;
    text-align: left;
    width: 140px;
    }
    .BestPrice{
        /* margin-top: -25px;*/
    }
    .financeWrapper{
        font-family: Lato;
        color: white;
        font-size: 18px;
        cursor: pointer;
        background-image: url("%%GLOBAL_AppPath%%/templates/Handbags/images/finance-button-a.fw.png");
        background-repeat:no-repeat;
        height: 90px;
        margin-left: 10px;

    }

    .finance{
        padding-top: 2px;
    }

    .financeDetails{
        padding-top: 30px;
    }

</style>


<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/jquery/plugins/jCarousel/jCarousel.js?%%GLOBAL_JSCacheToken%%"></script>
%%SNIPPET_ProductImageZoomer%%

<script type="text/javascript">//<![CDATA[

var productId = %%GLOBAL_ProductId%%;
var NDX_ProductPrice = parseFloat('%%GLOBAL_ProductPrice%%'.replace(/[^0-9.]/g, ''));
//var NDX_Desposit = NDX_ProductPrice * .10;
var NDX_payment = parseFloat(((NDX_ProductPrice * 5.25) / 60));
$( document ).ready(function() {
    if(NDX_payment > 50)
    {
        //NDX_Desposit = '$' + parseFloat(NDX_Desposit, 10).toFixed(2).replace(/(d)(?=(d{3})+.)/g, "$1,").toString();
        NDX_payment = '$' + parseFloat(NDX_payment, 10).toFixed(2).replace(/(d)(?=(d{3})+.)/g, "$1,").toString();
        var financeMess = NDX_payment + '/Month';

        $('#financeOption').html(financeMess);
        $('.financeWrapper').show();
    }

    $('#financing').click(function(){
        goToFinancePage();
    });
});

function goToFinancePage()
{
    var product = productId;
    var link = "%%GLOBAL_AppPath%%/finance.php?action=finance&product="+product;
    window.location.href = link;
}

var ThumbURLs = new Array();
var ProductImageDescriptions = new Array();
var CurrentProdThumbImage = %%GLOBAL_CurrentProdThumbImage%%;
var ShowVariationThumb =false;
var ProductThumbWidth = %%GLOBAL_ProductThumbWidth%%;
var ProductThumbHeight =  %%GLOBAL_ProductThumbHeight%%;
var ProductMaxZoomWidth = %%GLOBAL_ProductMaxZoomWidth%%;
var ProductMaxZoomHeight =  %%GLOBAL_ProductMaxZoomHeight%%;
var ProductTinyWidth = %%GLOBAL_ProductMaxTinyWidth%%;
var ProductTinyHeight =  %%GLOBAL_ProductMaxTinyHeight%%;


%%GLOBAL_ProdImageJavascript%%

var ShowImageZoomer = %%GLOBAL_ShowImageZoomer%%;

var productId = %%GLOBAL_ProductId%%;
//]]></script>
%%Discount.FreeShippingEligibility%%
<div class="Block Moveable Panel PrimaryProductDetails" id="ProductDetails">
    <div class="BlockContent">
        %%GLOBAL_ProductDetailFlashMessages%%
%%GLOBAL_ProductNameOptimizerScriptTag%%
            <h2>%%GLOBAL_ProductName%%</h2>
        %%GLOBAL_ProductNameOptimizerNoScriptTag%%


        <div class="ProductThumb" style="%%GLOBAL_HideProductThumb%%">
            %%GLOBAL_LightBoxImageJavascript%%
            %%SNIPPET_ProductThumbImage%%

            <div class="ImageCarouselBox" style="margin:0 auto; %%GLOBAL_HideImageCarousel%%">
                <a id="ImageScrollPrev" class="prev" href="#"><img src="%%GLOBAL_IMG_PATH%%/LeftArrow.png" alt="" width="20" height="20" /></a>

                <div class="ProductTinyImageList">
                    <ul>
                        %%SNIPPET_ProductTinyImages%%
                    </ul>
                </div>

                <a id="ImageScrollNext" class="next" href="#"><img src="%%GLOBAL_IMG_PATH%%/RightArrow.png" alt="" width="20" height="20" /></a>
            </div>
            <div style="%%GLOBAL_HideMorePicturesLink%%" class="SeeMorePicturesLink">
                <a href="#" onClick="%%GLOBAL_TinyImageClickJavascript%% return false;" class="ViewLarger">%%GLOBAL_SeeMorePictures%%</a>
            </div>
        </div>
        <!-- start of product main div tag-->
        <div class="ProductMain">
            <div class="LeftBox">
            %%GLOBAL_FacebookLikeButtonAbove%%
            <div class="ProductDetailsGrid">
                

                <div style="margin: 0 0 0 10px;%%GLOBAL_HidePrice%%">
                    <div style="font-size: 2em;">%%GLOBAL_PriceLabel%%:
                    <div class="Value">
                        <em class="ProductPrice VariationProductPrice">%%GLOBAL_ProductPrice%%</em>
                        %%GLOBAL_IncludingExcludingTax%% %%GLOBAL_YouSave%%
                    </div>
                </div>
                </div>
                
                <div class="DetailRow RetailPrice" style="display: %%GLOBAL_HideRRP%%">
                    <div class="Label">%%LNG_RRP%%:</div>
                    <div class="Value">
                        %%GLOBAL_RetailPrice%%
                    </div>
                </div>

                <div class="DetailRow ProductSKU" style="display: %%GLOBAL_HideSKU%%">
                    <div class="Label">%%LNG_SKU%%:</div>
                    <div class="Value">
                        <span class="VariationProductSKU">
                            %%GLOBAL_SKU%%
                        </span>
                    </div>
                </div>

                <div class="DetailRow" style="%%GLOBAL_HideVendorDetails%%">
                    <div class="Label">%%LNG_Vendor%%:</div>
                    <div class="Value">
                        %%GLOBAL_VendorName%%
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideBrandLink%%">
                    <div class="Label">Series:</div>
                    <div class="Value">
                        <a href="%%GLOBAL_BrandLink%%">%%GLOBAL_BrandName%%</a>
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideCondition%%">
                    <div class="Label">%%LNG_Condition%%:</div>
                    <div class="Value">
                        %%GLOBAL_ProductCondition%%
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideWeight%%">
                    <div class="Label">%%LNG_Weight%%:</div>
                    <div class="Value">
                        <span class="VariationProductWeight">
                            %%GLOBAL_ProductWeight%%
                        </span>
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideRating%%">
                    <div class="Label">%%LNG_Rating%%:</div>
                    <div class="Value">
                        <img width="64" height="12" src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_Rating%%.gif" alt="" />
                        <span style="display:%%GLOBAL_HideReviewLink%%">(
                            <a href="#reviews" onClick="%%GLOBAL_ReviewLinkOnClick%%">
                                %%GLOBAL_ReviewLinkText%%
                            </a>
                        )</span>
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideAvailability%%">
                    <div class="Label">%%LNG_Availability%%:</div>
                    <div class="Value">
                        %%GLOBAL_Availability%%
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideShipping%%">
                    <div class="Label">%%LNG_Shipping%%:</div>
                    <div class="Value">
                        %%GLOBAL_ShippingPrice%%
                    </div>
                </div>

                <div class="DetailRow" style="%%GLOBAL_HideMinQty%%">
                    <div class="Label">%%LNG_ProductMinQty%%:</div>
                    <div class="Value">
                        %%GLOBAL_MinQty%% %%LNG_units%%
                    </div>
                </div>

                <div class="DetailRow" style="%%GLOBAL_HideMaxQty%%">
                    <div class="Label">%%LNG_ProductMaxQty%%:</div>
                    <div class="Value">
                        %%GLOBAL_MaxQty%% %%LNG_units%%
                    </div>
                </div>

                <div class="DetailRow InventoryLevel" style="%%GLOBAL_HideCurrentStock%%">
                    <div class="Label">%%GLOBAL_CurrentStockLabel%%:</div>
                    <div class="Value">
                        <span class="VariationProductInventory">
                            %%GLOBAL_InventoryList%%
                        </span>
                    </div>
                </div>

                <div class="DetailRow" style="%%GLOBAL_HideGiftWrapMessage%%">
                    <div class="Label">%%LNG_GiftWrapping%%:</div>
                    <div class="Value">
                        %%GLOBAL_GiftWrappingAvailable%%
                    </div>
                </div>
            </div>
            %%SNIPPET_ProductAddToCart%%
            %%GLOBAL_AddThisLink%%
            %%SNIPPET_ProductExpectedReleaseDate%%
            %%GLOBAL_FacebookLikeButtonBelow%% 
        </div>
           
        <div class="RightBox">
            <p style="width: 200px;">%%Panel.CartContent1%%</p>

            <a href="/pages/Spartan-Visa®-Card.html"><img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/spartan-visa-credit-card-promo.jpg" /></a>
 <!--<iframe id = "LeaseStationButton" style = "height: 70px; width: 168px; overflow: hidden;%%GLOBAL_HideLease%%" scrolling = "no" rel = "nofollow" frameborder = "0" src = "https://secure.LeaseStation.com/marketing/financing-buttons.cfm?VendorCode=mtnr7c5&ButtonSize=CheckWithGradiant&AmountToFinance=%%GLOBAL_LeasePrice%%&ProductId=%%GLOBAL_SKU%%&ProductName=%%GLOBAL_ProductName%%"></iframe>-->
            <div style="%%GLOBAL_HideLease%%">
                <div id="financing" class="financeWrapper" style="%%GLOBAL_HideLease%%">
                    <div class="finance">
                        <div class='financeDetails'>
                            <div id='financeOption'></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        <!-- end of product main div tag-->
        

        <br class="Clear" />
      
    </div>
</div>