<div class="" id="ProductDetails">
    <div class="BlockContent" style="float: left;padding: 20px 0 0 40px">
        <h2>
            <p>Your application has been sent successfully. We will process your request within 12-24 Hours. Someone will
            contact you directly about terms off approval once approved. If you have any questions or concerns please
            contact our credit department at 1.888.888.1085.</p>
            <p>Thank You For The Opportunity to Earn Your Business.</p>
        </h2>
    </div>
</div>