<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<style>.Content{background-color: #fff;}</style>
<body>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/cart.js?%%GLOBAL_JSCacheToken%%"></script>
	<div id="Container">
	%%Panel.Header%%

	<div id="Wrapper">
		%%Panel.WrapperBanner%%
		<div class="Content Wide" id="LayoutColumn1">
			%%Panel.CartHeader%%
			<div class="FreeShipping"><a href="/pages/FREE-shipping/"><img width="100%" src="/product_images/uploaded_images/free-shipping-banner-mobile.png"></a></div>
			%%Panel.CartStatusMessage%%
			%%Panel.CartContent%%
			%%Panel.SuggestiveCartContent%%
		</div>
		<div class="Right" id="LayoutColumn2">
			%%Panel.SideCouponCodeBox%%
			%%Panel.SideGiftCertificateCodeBox%%
		</div>

	</div>
	%%Panel.Footer%%
</div>
</body>
</html>