<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<style>
	.Breadcrumb {
  border-bottom: none;
}
	.Breadcrumb ul {
  margin-left: 0;
}

#PageContent h3{font-size: 1.3em; text-transform: uppercase;font-weight: bold;}

.contactusImg{display:none;}

.PL20 {
  padding: 0;
}
.Field200 {
  width: 100%;
}
.Field300 {
  width: 100%;
}
.HorizontalFormContainer p.Submit {
  margin-left: 120px;
  padding-bottom: 20px;
}
</style>
<body>
<div id="Container">
	%%Panel.Header%%
	<div id="Wrapper">
		%%Panel.WrapperBanner%%
		<div class="Content Wide" id="LayoutColumn1">
			%%Panel.HeaderSearch%%
			%%Panel.PageContent%%
		</div>
		<!-- <div class="Right" id="LayoutColumn2">
			%%Panel.SideSubPageList%%
			%%Panel.PagesMenu%%
		</div> -->

	</div>
	%%Panel.Footer%%
</div>
</body>
</html>