					<tr>
						<td class="FieldLabel">
							&nbsp;&nbsp;&nbsp;{{ CustomFieldLabel|raw }}:
						</td>
						<td>
							<input type="text" id="customFieldName[{{ CustomFieldKey|raw }}]" name="customFieldName[{{ CustomFieldKey|raw }}]" class="Field200" value="{{ CustomFieldName|raw }}">
							<input type="text" id="customFieldValue[{{ CustomFieldKey|raw }}]" name="customFieldValue[{{ CustomFieldKey|raw }}]" class="Field200" value="{{ CustomFieldValue|raw }}">
							<a href="#" onclick="return AddCustomField()"><img src="images/addicon.gif" alt="Add" border="0" /></a>
							<a href="#" onclick="return DelCustomField(this.parentNode.parentNode)" style="display: {{ HideCustomFieldDelete|raw }};"><img src="images/delicon.gif" alt="Del" border="0" /></a>
						</td>
					</tr>