<select id="{{ SelectId|raw }}" name="var_{{ SelectId|raw }}" class="Field45">
	<option {{ Quantity1|raw }} value="1">1</option>
	<option {{ Quantity2|raw }} value="2">2</option>
	<option {{ Quantity3|raw }} value="3">3</option>
	<option {{ Quantity4|raw }} value="4">4</option>
	<option {{ Quantity5|raw }} value="5">5</option>
	<option {{ Quantity6|raw }} value="6">6</option>
	<option {{ Quantity7|raw }} value="7">7</option>
	<option {{ Quantity8|raw }} value="8">8</option>
	<option {{ Quantity9|raw }} value="9">9</option>
	<option {{ Quantity10|raw }} value="10">10</option>
	<option {{ Quantity11|raw }} value="11">11</option>
	<option {{ Quantity12|raw }} value="12">12</option>
	<option {{ Quantity13|raw }} value="13">13</option>
	<option {{ Quantity14|raw }} value="14">14</option>
	<option {{ Quantity15|raw }} value="15">15</option>
	<option {{ Quantity16|raw }} value="16">16</option>
	<option {{ Quantity17|raw }} value="17">17</option>
	<option {{ Quantity18|raw }} value="18">18</option>
	<option {{ Quantity19|raw }} value="19">19</option>
	<option {{ Quantity20|raw }} value="20">20</option>
	<option {{ Quantity21|raw }} value="21">21</option>
	<option {{ Quantity22|raw }} value="22">22</option>
	<option {{ Quantity23|raw }} value="23">23</option>
	<option {{ Quantity24|raw }} value="24">24</option>
	<option {{ Quantity25|raw }} value="25">25</option>
	<option {{ Quantity26|raw }} value="26">26</option>
	<option {{ Quantity27|raw }} value="27">27</option>
	<option {{ Quantity28|raw }} value="28">28</option>
	<option {{ Quantity29|raw }} value="29">29</option>
	<option {{ Quantity30|raw }} value="30">30</option>
</select>