<dl style='margin-left:0; margin-bottom:5px;'>
<dt>{% lang 'TestPageUrl' %}</dt>
<dd style='margin-left:130px;'><input class='Field300' onclick='this.select();' readonly value='{{ TestPageUrl|raw }}' /></dd>

<dt style='{{ HideVariationPageUrl|raw }}'>{% lang 'VariationPageUrl' %}</dt>
<dd style='margin-left:130px; {{ HideVariationPageUrl|raw }}'><input class='Field300' onclick='this.select();' readonly value='{{ VariationPageUrl|raw }}' /></dd>

<dt>{% lang 'ConversionPageUrl' %}</dt>
<dd style='margin-left:130px;'><input class='Field300' onclick='this.select();' readonly value='{{ ConversionPageUrl|raw }}' /></dd>
</dl>