<li class="videoRow" id="video_%%GLOBAL_VideoId%%" style="">
	<div class="VideoImageContainer VideoPreviewSize" style="background-image: url('http://i.ytimg.com/vi/%%GLOBAL_VideoId%%/default.jpg');">
		<img src="%%GLOBAL_IMG_PATH%%/VideoOverlay.png" title="%%GLOBAL_VideoTitleLong%%" class="VideoPreviewSize" />
	</div>
	<div class="VideoContentContainer">
		<span class="videoRowTitle">%%GLOBAL_VideoTitleShort%%</span>
		<div class="videoRowDescription" title="%%GLOBAL_VideoDescriptionLong%%">%%GLOBAL_VideoDescriptionShort%%</div>
	</div>
</li>