		<div id="Footer">
			<div id="footercol-2">
         <h3>Our Categories</h3>
      <div class="FooterLinks">
            <p><a href="/categories/Skid-Steer-Attachments/">Skid Steer Attachments</a></p>
            <p><a href="/categories/Tractor-Attachments/">Tractor Attachments</a></p>
            <p><a href="/categories/Mini-Skid-Steer-Attachments/">Mini Skid Steer Attachments</a></p>
            <p><a href="/categories/Mini-Excavator-Attachments/">Mini Excavator Attachments</a></p>
            <p><a href="/categories/Pre%252dOwned-Attachments/">Pre-Owned Attachments</a></p>
            <p><a href="/categories/Parts-%26-Accessories/">Parts & Accessories</a></p>
      </div>
    </div>
    <div id="footercol-3">
           <h3>Customer Service</h3>
            <p><a href="tel:+18888881085">1.888.888.1085</a></p>
         <p><a href="/pages/client-relations/">Client Relations</a></p>
                           <p><a href="/pages/Spartan-Visa®-Card.html">Spartan Visa&reg; Card</a></p>
            <p><a href="/pages/Financing.html">Financing</a></p>
        <p><a href="/pages/Online-Help-Center/">Online Help Center</a></p>
            <p><a href="/pages/Contact-Customer-Care/">Contact Customer Care</a></p>
            <p><a href="/pages/Standard-Return-Policy/">Standard Return Policy</a></p>

            <p><a href="/pages/faq's/">FAQ's</a></p>
            <p><a href="/sitemap/">Site Map</a></p>
    </div>
    <div id="footercol-4">
           <h3>Company</h3>
            <p><a href="/pages/about-us/">About Spartan</a></p>
            <p><a href="/pages/contact-us/">Contact Us</a></p>
           <p><a href="/pages/Recent-News.html">News</a></p>
            <p><a href="/pages/Shipping-Information/">Shipping Information</a></p>
            <p><a href="/pages/warranty">Warranty Information</a></p>
            <p><a href="/pages/payment-terms/">Payment Terms</a></p>
            <p><a href="/pages/privacy">Private Policy</a></p>
            <p><a href="/pages/terms-and-legal-notice/">Terms and Legal Notice</a></p>
    </div>
    <div id="footercol-5">
        <h3>Stay Connected</h3>
           <div class="FooterLinks">
               <ul>
                <li><a href="http://www.facebook.com/pages/Spartan-Equipment/367304110018979?fref=ts" target="_blank"><img src="%%GLOBAL_IMG_PATH%%/mobile-fb.png" /><p>Like Us</p></a></li>
                <li><a href="https://twitter.com/spartanequip" target="_blank"><img src="%%GLOBAL_IMG_PATH%%/mobile-followus.png" /><p>Follow Us</p></a></li>
                <li><a href="http://www.youtube.com/spartanequipment" target="_blank"><img src="%%GLOBAL_IMG_PATH%%/mobile-subscribe.png" /><p>Subscribe</p></a></li>
                <li><a href="%%GLOBAL_ShopPath%%/rss.php?type=rss" target="_blank"><img src="%%GLOBAL_IMG_PATH%%/mobile-rss.png" /><p>RSS</p></a></li>
               </ul>
          </div>
          <p class="clear" />
     </div>
			
			
			<p style="%%GLOBAL_HideLogoutLink%%">
				<a href="%%GLOBAL_ShopPath%%/login.php?action=logout">%%LNG_Logout%%</a>
			</p>
			<p style="color: #fff;text-align: center;padding-top: 10px;">
				<!-- %%GLOBAL_AllPricesAreInCurrency%%<br /> -->
				Copyright %%GLOBAL_Year%% %%GLOBAL_StoreName%%.<br />
				<!-- %%GLOBAL_PoweredBy%% -->
			</p>
			<p id="FullSiteLink">
				<a href="%%GLOBAL_FullSiteLink%%">%%LNG_FullSite%%</a>
				%%LNG_NotOptimizedForMobiles%%
			</p>
			%%GLOBAL_DebugDetails%%
		</div>
		<br class="Clear" />
		</div>


		%%GLOBAL_DesignModeHTML%%
		%%GLOBAL_QueryList%%
		%%GLOBAL_DesignModeScriptTag%%
		%%GLOBAL_FooterScripts%%