
<div id="IphoneIconMenu">
	<p style="float:left;width:100px;color:#fff;font-weight:bold;"> <a href="tel:+18888881085">1.888.888.1085</a></p>
	<p style="float:right;width:120px;color:#fff;"><a href="%%GLOBAL_ShopPathNormal%%/cart.php"><span>%%LNG_Cart%%</span></a> / <a href="%%GLOBAL_ShopPath%%/account.php"><span>%%LNG_MyAccount%%</span></a></p>
	<!--<ul>
		<li class="Home"><a href="%%GLOBAL_ShopPathNormal%%/"><span>%%LNG_Home%%</span></a></li>
		<li class="Cart"><a href="%%GLOBAL_ShopPathNormal%%/cart.php"><span>%%LNG_Cart%%</span></a></li>
		<li class="Search"><a href="%%GLOBAL_ShopPathNormal%%/search.php?mode=advanced"><span>%%LNG_Search%%</span></a></li>
		<li class="Wishlist"><a href="%%GLOBAL_ShopPath%%/wishlist.php"><span>%%LNG_WishList%%</span></a></li>
		<li class="Account"><a href="%%GLOBAL_ShopPath%%/account.php"><span>%%LNG_MyAccount%%</span></a></li>
	</ul>-->
</div>