                            <li class="%%GLOBAL_AlternateClass%% ListView">
                                <div class="ProductImage">
                                 %%GLOBAL_ProductThumb%%  
                                </div>
                                <div class="ProductDetails">

                                    <span class="ProductRightCol"><label for="compare_%%GLOBAL_ProductId%%">%%LNG_Compare%% </label><input type="checkbox" class="CheckBox" name="compare_product_ids" id="compare_%%GLOBAL_ProductId%%" value="%%GLOBAL_ProductId%%" onclick="product_comparison_box_changed(this.checked)" /> <br />
                                        <div class="Rating Rating%%GLOBAL_ProductRating%%"><img src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_ProductRating%%.gif" alt="" style="%%GLOBAL_HideProductRating%%" /></div>

                                     <!--    <span class="ProductPrice">%%GLOBAL_ProductPrice%%</span>
                                        <span class="ProductQty">
                                            %%GLOBAL_AddToCartQty%%
                                        </span>-->
                                    </span>
                                    <strong><a href="%%GLOBAL_ProductLink%%" class="%%GLOBAL_SearchTrackClass%%">%%GLOBAL_ProductName%%</a></strong>
                                    <!--<div class="Rating Rating%%GLOBAL_ProductRating%%"><img src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_ProductRating%%.gif" alt="" style="%%GLOBAL_HideProductRating%%" /></div>-->
                                    <div style="margin: 10px 0;font-size: 1.3em;">Our Price <span class="ProductPrice">%%GLOBAL_ProductPrice%%</span></div>
                                     
                                    <div class="ProductDescription">%%GLOBAL_ProductDescription%%
                                        <div style="width:100%; float:left;">
                                         <a style="margin:10px 0 0 0;float:left;" href="%%GLOBAL_ProductLink%%"><div class="viewDetails"></div></a>
         <!--                                 <iframe id = "LeaseStationButton" style = "float:left;height: 70px; width: 168px; overflow: hidden;" scrolling = "no" rel = "nofollow" frameborder = "0" src = "https://secure.LeaseStation.com/marketing/financing-buttons.cfm?VendorCode=mtnr7c5&ButtonSize=CheckWithGradiant&AmountToFinance=%%GLOBAL_LeasePrice%%&ProductId=%%GLOBAL_ProductId%%&ProductName=%%GLOBAL_ProductName%%"></iframe> -->
                                        </div>
                                    </div>
                                   
                                   <!-- <div class="ProductCompareButton" style="display:%%GLOBAL_HideCompareItems%%">
                                        <input type="checkbox" class="CheckBox" name="compare_product_ids" id="compare_%%GLOBAL_ProductId%%" value="%%GLOBAL_ProductId%%" onclick="product_comparison_box_changed(this.checked)" /> <label for="compare_%%GLOBAL_ProductId%%">%%LNG_Compare%%</label> <br />
                                    </div>-->
                                </div>

                            </li>



