<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/productPreview.js?%%GLOBAL_JSCacheToken%%"></script>
<style>

    h2 {
        color: #FFA952;
        font-family: 'Oxygen',Arial,sans-serif;
        font-size: 19px;
        letter-spacing: normal;
    }
</style>
<body>
<div id="Container">
    %%Panel.Header%%

    <div id="Wrapper" class="InsideWrapper">
        <div class="Content Widest" id="LayoutColumn2">
            %%Panel.ProductFinancingThankyou%%
        </div>
        <br class="Clear" />
    </div>


</div>
%%Panel.Footer%%
</body>
</html>