<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/finance.js?%%GLOBAL_JSCacheToken%%"></script>
<link rel="stylesheet" type="text/css" href="%%GLOBAL_AppPath%%/css/finance.css" />
<body>
<div id="Container">
    %%Panel.Header%%

    <div id="Wrapper" class="InsideWrapper">
        <div class="Content Widest" id="LayoutColumn2">
            %%Panel.FinanceForm%%
        </div>
        <br class="Clear" />
    </div>

</div>
%%Panel.Footer%%
</body>
</html>