<div class="HomePageText">
<span><img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/attach_surrender.png" /></span>
<span>For engineers and designers here at Spartan Equipment, it is the Spartan Concept that allows us to test the boundaries of possibility, innovation, and efficiency. When you go Spartan, you go with the pinnacle of attchment performance.</span>
<span> We believe so strongly in our Spartan motto that we offer what no other attachement manufacturer offers, we offer full Warranty as well as Money Back Guarantee for all of our Spartan Attachments</span>
</div>