<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/">
%%Panel.HTMLHead%%
<body>
    <script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.functions.js?%%GLOBAL_JSCacheToken%%"></script>
    <script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.js?%%GLOBAL_JSCacheToken%%"></script>
    <script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.cart1.js?%%GLOBAL_JSCacheToken%%"></script>
    <div id="Container">
    %%Panel.Header%%

    <div id="Wrapper" class="InsideWrapper">
        %%Panel.WrapperBanner%%
        <div class="Content Widest" id="LayoutColumn2">
            %%Panel.ProductBreadcrumb%%
            <div class="FreeShipping"><a href="/pages/FREE-shipping/"><img src="/product_images/uploaded_images/free-shipping-finance-banner.png"></a></div>
            %%Panel.ProductDetails%%
            %%Panel.ProductTabs%%
            %%Panel.ProductDescription%%
            %%Panel.ProductVideos%%
            %%Panel.ProductOtherDetails%%
            %%Panel.ProductWarranty%%
            %%Panel.SimilarProductsByTag%%
            %%Panel.ProductReviews%%
            %%Panel.ProductByCategory%%
            %%Panel.ProductVendorsOtherProducts%%
            %%Panel.SimilarProductsByCustomerViews%%
            %%Panel.SideProductRelated%%
        </div>

        <br class="Clear" />
    </div>
    %%Panel.Footer%%
</div>
</body>
</html>