<script type="text/javascript">
$(document).ready(function(){
$(".ProductList .ProductImage").css({
"width" : 133,
"height" : "auto",
"line-height" : "normal"
});
$(".ProductList > .ListView").height("auto");
});
</script>
<br class="Clear" /><br /><br />
<div id="footer_html">
<table width="100%">
<tr>
<td>
<TABLE width="98%" border="0" align="center" cellPadding="0" cellSpacing="0">
<TBODY>
<TR>
<TD>
<p align="center">
<STRONG>Attachment Distributors</STRONG><BR>
To contact us call 1.888.888.1085 or <A href="%%GLOBAL_ShopPath%%/pages/Contact-Us.html">send us an email</A>!
</p>
</TD>
</TR>
</TBODY>
</TABLE>
</td>
</tr>
</table>
</div>
<!--/td></tr></table-->
<div id="Footer">
<p>
    <a href="/pages/Privacy.html">Privacy</a> |  <a href="/pages/Policies.html">Policies</a> |  <a href="/pages/Terms-and-Legal-Notice.html">Terms and Legal Notice</a> | 
%%SNIPPET_SitemapLink%%
%%GLOBAL_MobileSiteLink%%
%%GLOBAL_AllPricesAreInCurrency%%
Copyright %%GLOBAL_Year%% %%GLOBAL_StoreName%%.
</p>
%%GLOBAL_DebugDetails%%
</div>
<br class="Clear" />
</div>

%%GLOBAL_DesignModeHTML%%
%%GLOBAL_QueryList%%
%%GLOBAL_DesignModeScriptTag%%
%%GLOBAL_LiveChatFooterCode%%
%%GLOBAL_OptimizerTrackingScript%%
%%GLOBAL_OptimizerConversionScript%%
%%GLOBAL_OptimizerSetCookieScript%%

%%SNIPPET_FastCartThickBoxJs%%

