        <div id="AjaxLoading"><img src="%%GLOBAL_IMG_PATH%%/ajax-loader.gif" alt="" />&nbsp; %%LNG_LoadingPleaseWait%%</div>        
        %%GLOBAL_MaintenanceNotice%%
        %%Panel.TopMenu%%
        <div id="Outer">
            <div id="Header">
                <div id="HeaderLink">
                    <a href="%%GLOBAL_ShopPath%%" title="Home"><span>Home</span></a>
                </div>
                <div id="HeaderContactLink">
                    <a href="%%GLOBAL_ShopPath%%/pages/Contact-Us.html" title="Contact Us"><span>Contact</span></a>
                </div>
                <div id="Logo">
                    %%GLOBAL_HeaderLogo%%
                </div>
                <div id="media_box">
                
                        <a href="http://www.facebook.com/edisales" target="_blank"><img src="%%GLOBAL_ShopPath%%/templates/Gifts/images/Facebook-Icon.png" width="32" height="32" border="0" Alt="FaceBook" />
                        <a href="https://twitter.com/#!/AttachmentDist" target="_blank"><img src="%%GLOBAL_ShopPath%%/templates/Gifts/images/Twitter-Button.png" border="0" width="32" height="32" Alt="Twitter" />
                        <a href="http://www.youtube.com/AttachmentDistrib" target="_blank"><img src="%%GLOBAL_ShopPath%%/templates/Gifts/images/You-Tube-3.png" border="0" width="32" height="32" Alt="YouTube" />
                        <a href="%%GLOBAL_ShopPath%%/pages/Recent-News.html"><img src="%%GLOBAL_ShopPath%%/templates/Gifts/images/RSS-Feed-Button.png" border="0" width="32" height="32"  Alt="Recent News" />
                    </a>
                </div>
                %%Panel.HeaderSearch%%
                <br class="Clear" />
            </div>
        %%Panel.PagesMenu%%

