            <div class="Block FeaturedProducts Moveable Panel"  id="HomeFeaturedProducts" style="display:%%GLOBAL_HideHomeFeaturedProductsPanel%%">
                <h2>%%LNG_FeaturedProducts%%</h2>
                <div class="BlockContent">
                    <ul class="ProductList">
                        %%SNIPPET_HomeFeaturedProducts%%
                    </ul>
                   <!-- <div>
                        <div style="padding-top:100px"></div>
                        <h1>Skid Steer Attachments and Skid Steer Loader Equipment</h1><br>
                        <p class="style1">
                            <span class="style4">Equipment Distributors, Inc. offers the best quality, Previously-Owned compact construction equipment, with the best warranties and money-back guarantees in the nation! </span>.
                        </p>
                        <p class="style5">We specialize in the Sale of:</p>
                        <ul class="style4">
                            <li class="style6">Used BOBCAT&reg; Skid Steer Loaders (as well as other major Brands)</li>
                            <li class="style6">Used BOBCAT&reg; Compact Rubber Track Loaders</li>
                            <li class="style6">Used BOBCAT&reg; Mini Excavators</li>
                            <li class="style6">And well over 100 different types of related Skid Steer Attachments New and Used</li>
                        </ul>
                        <p class="style5">With over 20 years of experience, we have provided and advised our clients on how to best utilize our equipment to meet their project needs. Our goal is to build lasting relationships with our customers, guaranteeing success for their future and ours.</p>
                        <p class="style5">Equipment Distributors, Inc. also offers the unique ability to buy, sell on consignment, or trade existing equipment &ndash; adding more unique ways for us to serve our clients Nationwide and Internationally!</p>
                        <br><br>
                    </div> -->
                </div>
                <br class="Clear" />
            </div>
