<head> 
    %%GLOBAL_OptimizerControlScript%%
    <title>Skid Steer Attachments – Skid Steer Loader Attachments | EdiSales.com</title> 
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <meta name="description" content="Here at EDI Sales, we make sure that we have the right skid steer attachments available at the best prices possible. We also offer money-back guarantees for our skid steer attachments." /> 
    <meta name="keywords" content="Skid Steer Attachments, Skid Steer Loader Attachments" /> 
    <meta http-equiv="Content-Script-Type" content="text/javascript" /> 
    <meta http-equiv="Content-Style-Type" content="text/css" /> 
    <link rel="shortcut icon" href="http%%GLOBAL_ShopPath%%/product_images/Large White Favicon.ico" /> 
    <link href="%%GLOBAL_ShopPath%%/templates/Gifts/Styles/styles.css?c52a0" media="all" type="text/css" rel="stylesheet" /> 
    <link href="%%GLOBAL_ShopPath%%/templates/Gifts/Styles/iselector.css?c52a0" media="all" type="text/css" rel="stylesheet" /> 
    <link href="%%GLOBAL_ShopPath%%/templates/Gifts/Styles/brown.css?c52a0" media="all" type="text/css" rel="stylesheet" /> 
    <!--[if IE]><link href="%%GLOBAL_ShopPath%%/templates/Gifts/Styles/ie.css?c52a0" media="all" type="text/css" rel="stylesheet" /><![endif]--> 
    <link rel="stylesheet" href="%%GLOBAL_ShopPath%%/templates/Gifts/Styles/jquery.treeview.css" /> 
    <!-- Tell the browsers about our RSS feeds --> 
    <link rel="alternate" type="application/rss+xml" title="Latest News (RSS 2.0)" href="%%GLOBAL_ShopPath%%/rss.php?action=newblogs&amp;type=rss" /> 
    <link rel="alternate" type="application/atom+xml" title="Latest News (Atom 0.3)" href="%%GLOBAL_ShopPath%%/rss.php?action=newblogs&amp;type=atom" /> 
 <meta name="google-site-verification" content="cA4bubihkrI63D3bU8lg1-JOWAvo80PErcQNjxKNrbA" />
    
    <!-- Include visitor tracking code (if any) --> 
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/index.php?action=tracking_script"></script><!-- Start Tracking Code for analytics_googleanalytics --> 
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10985375-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script> 
<!-- End Tracking Code for analytics_googleanalytics --> 

    <style type="text/css"> #Header { background-image: url("%%GLOBAL_ShopPath%%/product_images/header_images/Gifts_headerImage.jpg"); } </style> 
    
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/jquery.js"></script> 
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/menudrop.js"></script> 
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/common.js"></script> 
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/iselector.js"></script> 
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/jquery.cookie.js"></script> 
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/jquery.treeview.js"></script> 
    
    <script type="text/javascript"> 
    //<![CDATA[
    config.ShopPath = '%%GLOBAL_ShopPath%%';
    config.AppPath = '';
    var ThumbImageWidth = 120;
    var ThumbImageHeight = 120;
    var actives = [];
    
    $(document).ready(function(){
      $("#red").find("li li").each(function() {
            if ($("a", this).attr("href") != window.location) $(this).addClass("closed");
            else actives[actives.length] = this;
        });
        
        $(actives).parents("li").removeClass("closed");
        
        $("#red").treeview({
            animated: "fast",
            collapsed: true,
            unique: false,
            persist: "cookie"
      });
    });
    //]]>
    </script>
    
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/quicksearch.js"></script> 
</head> 