%%GLOBAL_ProductTabsControlScript%%
<div class="Panel" id="ProductTabs">
    <script type="text/javascript">
        lang.Description = '%%LNG_Description%%';
        lang.Warranty = '%%LNG_Warranty%%';
        lang.OtherDetails = 'Specifications';
        lang.ProductTags = '%%LNG_Tags%%';
        lang.SimilarProducts = '%%LNG_SimilarProducts%%';
        lang.Reviews = '%%LNG_Reviews%%';
        lang.OtherProducts = '%%LNG_OtherProducts%%';
        lang.ProductVideos = '%%LNG_ProductVideos%%';
    </script>
    %%GLOBAL_ProductTabsOptimizerScriptTag%%
    <!-- Remove the code from here to create the no product tabs version of the product page -->
        <ul class="TabNav" id="ProductTabsList">
        </ul>
        <script type="text/javascript">
                var HideProductTabs = 0;
        </script>
    %%GLOBAL_ProductTabsOptimizerNoScriptTag%%
</div>